<div class="container mt-3">
  <div class="col-md order-md-1">
    <h4 class="mb-3">Thanks you !</h4>
    <form class="needs-validation" #userDetailsForm="ngForm" (ngSubmit)="updateUserDetails(userDetailsForm)">
      <div class="row">
        <div class="col-md-12 mb-6">
          Your Order number is:<span class="text-muted" style="font-size:large"> {{order.id}} </span>with  Price is :<span class="text-muted" style="font-size:large"> {{totalPrice}} EGP</span> is  <mark>pending Confirmation</mark>
        </div>
        
      </div>
      <div class="mb-3">
        <label for="email">
          You Will Receive Confirmation at  <span class="text-muted" style="font-size:large">{{userDetails.email}}</span>
        </label> please Check your Mail         
        
      </div>
     
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Receipt</button>
    </form>
  </div>
