<br>
<div class="container" *ngIf="cartProducts.length > 0">
  <div class="row">
    <!-- List of Products -->
    <div class="col-8">
      <div class="row">
        <div class="col-4" *ngFor="let product of cartProducts">
          <div class="item">
            <div class=" mb-r">

              <!--Card-->
              <div class="card card-cascade wider">

                <!--Card image-->
                <a [routerLink]="['/products/product', product.id ]">

                  <div class="view overlay hm-white-slight">
                    <img [src]="product.product.imgUrl" class="img-fluid" alt="" width="360px" height="640px">
                    <a>
                      <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                    </a>
                  </div>
                </a>

                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center no-padding">
                  <!--Category & Title-->
                  <a class="text-muted">
                    <h5>{{  product.product.nameAr }}</h5>
                  </a>
                  <h5 class="card-title">
                    <strong>
                      <a [routerLink]="['/products/product',  product.product.id]">{{ product.nameEn }}</a>
                    </strong>
                  </h5>
                  <!--Description-->

                  <div class="col-md-12 mb-6">

                    <a class="text-muted">
                      Qan
                    </a>
                    
                    <input type="number" name="quantity" style="width:120%" class="form-control" [(ngModel)]=" product.product.quantity" placeholder="1" (click)="updatequantity(product.product)"
                           id="quantity" value="" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>


                  </div>
                  <div class="col-md-12 mb-6">

                    <a class="text-muted">
                      Cleaning
                    </a>
                      <select class="custom-select d-block w-100" style="width:120% !important" id="country" required name="country">
                        <option value="">Choose...</option>
                        <option>No</option>
                        <option>Feleh</option>
                        <option>Gezel</option>
                      </select>


</div>


                  <!--Card footer-->
                  <div class="card-footer">

                    <span class="left">EGP {{  product.product.price }}</span>
                    <span class="right">
                      <a placement="top" mdbTooltip="Quick Look" container="body" [routerLink]="['/products/product',  product.product.id]">
                        <i class="fa fa-eye"></i>
                      </a>
                      <a placement="top" mdbTooltip="Remove Product" container="body" (click)="removeCartProduct( product.product)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </span>
                  </div>

                </div>
                <!--/.Card content-->

              </div>
              <!--/.Card-->

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">
      <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
    </div>
  </div>
</div>
<div class="container" *ngIf="cartProducts.length === 0">
  <app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found>
</div>
