<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" #addProductForm="ngForm" (ngSubmit)="createProduct(addProductForm)">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" name="name_ar" [(ngModel)]="product.name_ar" placeholder="Product Name"
                value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="productCategory">Product Category</label>
              <input type="text" class="form-control" id="productCategory" name="name_en" [(ngModel)]="product.name_en"
                placeholder="Product Category" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="productDescription">Product Description
              <span class="text-muted">(Optional)</span>
            </label>
            <textarea type="text" class="form-control" id="productDescription" placeholder="Product Description" name="details"
              [(ngModel)]="product.details"></textarea>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="productPrice">Product Price</label>
              <input type="number" name="price" class="form-control" [(ngModel)]="product.price" placeholder="Product Price"
                id="productPrice" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="productQuatity">Product Quantity</label>
              <input type="text" class="form-control" id="productQuatity" name="price1" [(ngModel)]="product.price" placeholder="Product Quantity"
                value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="productSeller">Product Seller</label>
            <input type="text" class="form-control" id="productSeller" [(ngModel)]="product.productSeller" name="productSeller" placeholder="Product Seller"
              required>
          </div>
          <div class="mb-3">
            <label for="productImageUrl">Product Image</label>
            <input type="text" class="form-control" id="productImageUrl" [(ngModel)]="product.img_url" name="img_url"
              placeholder="Image Url" required>
          </div>

          <hr class="mb-4">

          <button class="btn btn-primary btn-lg btn-block" type="submit">Add Product</button>
        </form>
      </div>
    </div>
  </div>
</div>
