<div class="container" [style.direction]="translate.style">
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of checkoutProducts">
      <div class=" mb-r">

        <!--Card-->
        <div class="card card-cascade wider">



          <img [src]="product.product.imgUrl" [alt]="ddd" width="150" *ngIf="product.product.imgUrl!=null" width="360px" height="360px">

          <img src="data:image/png;base64,{{product.product.imgData}}" *ngIf="product.product.imgData!=null" class="img-fluid" alt="" width="360px" height="360px">

          <div class="card-body text-center no-padding">
            <p> <span class="text-muted ">{{translate.data["PRODUCT-NAME"] | translate}}</span> :{{product.product.nameAr}}</p>
            <p> <span class="text-muted ">{{translate.data["PRODUCT-SELLER"] | translate}} </span>: {{product.user.name}} </p>
            <p>

              <span class="text-muted ">{{translate.data["QUANTITY"] | translate}} ({{product.product.quantity}}) {{translate.data["TOTAL"] | translate}}  {{product.product.price*product.product.quantity}} EGP</span>
            </p>

            <p>
              <span class="text-muted ">{{translate.data["UNIT-PRICE"] | translate}} : {{product.product.price}} EGP</span>
            </p>
            <p><span class="text-muted ">{{translate.data["CLEANING-TECHNIQUE"] | translate}}   : {{product.product.cleaningFee.feesNameAr}} {{product.product.cleaningFee.feeAmount}} EGP </span></p>
          </div>
        </div>
      </div>
    </li>
   
    <li class="list-group-item d-flex justify-content-between ">
      <span>{{translate.data["CLEANING-TECHNIQUE"] | translate}}  </span>
      <strong>EGP {{totalCleaning}}</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between ">
      <span>{{translate.data["PACKGANING"] | translate}}  </span>
      <strong>EGP {{ totalPacakging}}</strong>
    </li>

    <li class="list-group-item d-flex justify-content-between ">
      <span>{{translate.data["TOTAL"] | translate}}  (EGP)</span>
      <strong>EGP {{totalPrice}}</strong>
    </li>

  </ul>

  <div class="mb-4">
    <a class="btn btn-success btn-lg btn-block" [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['shipping-details']}}]" routerLinkActive="active">{{translate.data["NEXT"] | translate}}</a>
  </div>

</div>
